* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  #black {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 2;
  }

  #author-link {
    color: white;
  }
  
  #close-thi {
    width: 20px;
    overflow-x: hidden;
    transition: 0.2s;
  }
  
  #close-thi:hover {
    width: 60px;
  }
  